{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <h1>Main page</h1>

    <div class="categories" style="display: inline-block;">
        <p>IT languages :</p>
        <ul>
            {% for category in categories %}
                <li><a href="/category/{{ category.name }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>



    <div class="products" style="display: inline-block; margin-left: 50px">
    <p>Developers :</p>
    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
        </thead>
        <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td><a href="/product/{{ product.id }}">{{ product.name }}</a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

    </div>
    </body>

{% endblock %}